<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.cidic.design">
		<level value="info" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<logger name="log4j.logger.org.hibernate">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.SQL">
		<level value="trace" />
	</logger>
	<logger name="log4j.logger.org.hibernate.type">
		<level value="trace" />
	</logger>
	<logger name="log4j.logger.org.hibernate.hql.ast.AST">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.type.descriptor.sql.BasicBinder">
		<level value="trace" />
	</logger>
	<logger name="log4j.logger.org.hibernate.type.descriptor.sql.BasicExtractor">
		<level value="trace" />
	</logger>
	<logger name="log4j.logger.org.hibernate.engine.QueryParameters">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.engine.query.HQLQueryPlan">
		<level value="debug" />
	</logger>

	<logger name="log4j.logger.org.hibernate.tool.hbm2ddl">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.hql">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.cache">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.transaction">
		<level value="debug" />
	</logger>
	<logger name="log4j.logger.org.hibernate.jdbc">
		<level value="debug" />
	</logger>
	<logger
		name="log4j.logger.org.hibernate.connection.DriverManagerConnectionProvider">
		<level value="trace" />
	</logger>
	<logger name="log4j.logger.org.hibernate.type.descriptor.sql.BasicBinder">
		<level value="trace" />
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
